
<%= link_to 'upload photos', new_photo_path %>

<button class="filter btn btn-danger" data-filter="all">all</button>
<button class="filter btn btn-default" data-filter=".category-1">Category 1</button>
<button class="filter btn btn-success" data-filter=".category-2">Category 2</button>

<div id="list">
  <div class="imgWrap mix category-1">
    <div class="bg1"></div>
    <div class="bg2"></div>
    <div class="imgDiv">
      <div><%= link_to image_tag('thumbnails/1.jpg'), image_url('fullscreen/1.jpg'), class: 'fancybox', rel: "fancybox-thumb" , title: "You can add caption to pictures." %></div>
    </div>
  </div>

   <div class="imgWrap mix category-1">
    <div class="bg1"></div>
    <div class="bg2"></div>
    <div class="imgDiv">
      <div><%= link_to image_tag('thumbnails/2.jpg'), image_url('fullscreen/2.jpg'), class: 'fancybox', rel: "fancybox-thumb" , title: "You can add caption to pictures." %></div>
    </div>
  </div>

   <div class="imgWrap mix category-1">
    <div class="bg1"></div>
    <div class="bg2"></div>
    <div class="imgDiv">
      <div><%= link_to image_tag('thumbnails/3.jpg'), image_url('fullscreen/3.jpg'), class: 'fancybox', rel: "fancybox-thumb" , title: "You can add caption to pictures." %></div>
    </div>
  </div>

  <div class="imgWrap mix category-1">
    <div class="bg1"></div>
    <div class="bg2"></div>
    <div class="imgDiv">
      <div><%= link_to image_tag('thumbnails/1.jpg'), image_url('fullscreen/1.jpg'), class: 'fancybox', rel: "fancybox-thumb" , title: "You can add caption to pictures." %></div>
    </div>
  </div>

   <div class="imgWrap mix category-1">
    <div class="bg1"></div>
    <div class="bg2"></div>
    <div class="imgDiv">
      <div><%= link_to image_tag('thumbnails/2.jpg'), image_url('fullscreen/2.jpg'), class: 'fancybox', rel: "fancybox-thumb" , title: "You can add caption to pictures." %></div>
    </div>
  </div>

   <div class="imgWrap mix category-1">
    <div class="bg1"></div>
    <div class="bg2"></div>
    <div class="imgDiv">
      <div><%= link_to image_tag('thumbnails/3.jpg'), image_url('fullscreen/3.jpg'), class: 'fancybox', rel: "fancybox-thumb" , title: "You can add caption to pictures." %></div>
    </div>
  </div>

   <div class="imgWrap mix category-1">
    <div class="bg1"></div>
    <div class="bg2"></div>
    <div class="imgDiv">
      <div><%= link_to image_tag('thumbnails/4.jpg'), image_url('fullscreen/4.jpg'), class: 'fancybox', rel: "fancybox-thumb" , title: "You can add caption to pictures." %></div>
    </div>
  </div>

   <div class="imgWrap mix category-1">
    <div class="bg1"></div>
    <div class="bg2"></div>
    <div class="imgDiv">
      <div><%= link_to image_tag('thumbnails/4.jpg'), image_url('fullscreen/4.jpg'), class: 'fancybox', rel: "fancybox-thumb" , title: "You can add caption to pictures." %></div>
    </div>
  </div>

   <div class="imgWrap mix category-2">
    <div class="bg1"></div>
    <div class="bg2"></div>
    <div class="imgDiv">
      <div><%= link_to image_tag('thumbnails/3.jpg'), image_url('fullscreen/4.jpg'), class: 'fancybox', rel: "fancybox-thumb" , title: "You can add caption to pictures." %></div>
    </div>
  </div>

   <div class="imgWrap mix category-2">
    <div class="bg1"></div>
    <div class="bg2"></div>
    <div class="imgDiv">
      <div><%= link_to image_tag('thumbnails/2.jpg'), image_url('fullscreen/2.jpg'), class: 'fancybox', rel: "fancybox-thumb" , title: "You can add caption to pictures." %></div>
    </div>
  </div>

   <div class="imgWrap mix category-2">
    <div class="bg1"></div>
    <div class="bg2"></div>
    <div class="imgDiv">
      <div><%= link_to image_tag('thumbnails/1.jpg'), image_url('fullscreen/1.jpg'), class: 'fancybox', rel: "fancybox-thumb" , title: "You can add caption to pictures." %></div>
    </div>
    <!-- <div class="info"></div> -->
  </div>

   <div class="imgWrap mix category-2">
    <div class="bg1"></div>
    <div class="bg2"></div>
    <div class="imgDiv">
      <div><%= link_to image_tag('thumbnails/4.jpg'), image_url('fullscreen/4.jpg'), class: 'fancybox', rel: "fancybox-thumb" , title: "You can add caption to pictures." %></div>
    </div>
    <!-- <div class="info">test</div> -->
  </div>

   <div class="imgWrap mix category-2">
    <div class="bg1"></div>
    <div class="bg2"></div>
    <div class="imgDiv">
      <div><%= link_to image_tag('thumbnails/4.jpg'), image_url('fullscreen/4.jpg'), class: 'fancybox', rel: "fancybox-thumb" , title: "You can add caption to pictures." %></div>
    </div>
    <!-- <div class="info">Thumbs</div> -->
  </div>
  <div class="imgWrap mix category-2">
    <div class="bg1"></div>
    <div class="bg2"></div>
    <div class="imgDiv">
      <div><%= link_to image_tag('thumbnails/4.jpg'), image_url('fullscreen/4.jpg'), class: 'fancybox', rel: "fancybox-thumb" , title: "You can add caption to pictures." %></div>
    </div>
    <!-- <div class="info">Thumbs</div> -->
  </div>
  <div class="imgWrap mix category-1">
    <div class="bg1"></div>
    <div class="bg2"></div>
    <div class="imgDiv">
      <div><%= link_to image_tag('thumbnails/4.jpg'), image_url('fullscreen/4.jpg'), class: 'fancybox', rel: "fancybox-thumb" , title: "You can add caption to pictures." %></div>
    </div>
    <!-- <div class="info">Thumbs</div> -->
  </div>
</div>



<style>

  #list .mix{
    text-align: center;
    display: none;
  }


</style>


<script>
  $(function(){
    $('#list').mixItUp();


    $('.fancybox').fancybox();

    $(".filter").on("click", function () {
       // get 'data-filter' value of the button clicked
       var $fancyFilter = $(this).attr('data-filter');
       // test the value of $fancyFilter and change 'rel' attribute according to it
       switch($fancyFilter)
       {
         case '.category-1':$(".category-1 .fancybox").attr("rel","category-1");
         break;
         case '.category-2':$(".category-2 .fancybox").attr("rel","category-2");
         break;
         default:$(".mix .fancybox").attr("rel","gallery");
       }
    });

  });

</script>




