<!DOCTYPE html>
<html>
  <head>
    <title>PersonPhoto</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="container">
    <%= render 'shared/navigation' %>
    <div class="main">
      <%= yield %>
    </div>
  </div>
  </body>
</html>

<style>
  .main{
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
  }
</style>
